*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar-brand{
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    
}

.navbar-nav li{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    left: 347px;
    position: relative;
} 

.nav-link{
    color: #ffffff;
}

.navbar-nav li::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

.navbar-nav li:hover:before{
    width: 100%;
    color: white;

}

.container ul li a{
    color: #a5a5a5;
}


